graft src
graft docs
prune scripts
prune docs/_data

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

include README.md LICENSE
exclude tox.ini .flake8 .bumpversion.cfg docs/index.md docs/_config.yml
