graft src
graft tests
prune docs
prune scripts
prune docs/_data
prune tests/.pytest_cache
prune notebooks

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

include README.md LICENSE
exclude tox.ini .flake8 .bumpversion.cfg docs/index.md docs/_config.yml .readthedocs.yml
